html
    font-size: 100%

body
    font-family: "Roboto"
    font-weight: normal
    padding-top: 100px;

a,
button,
input[type=submit],
input[type=button],
select,
.bootstrap-select .dropdown-toggle
    outline: none !important
    &:focus
        outline: none !important

.fa
    width: 20px

//Navigation
.active-link
    text-decoration: underline
.navbar-brand
	img 
		height: 32px
.navbar-default .navbar-nav > li > a
    font-weight: bold      
.navbar-default .navbar-nav > .open > a
    background-color: transparent !important
    
    
//Setting 
.setting 
    .panel-photo
        text-align: center
        .profile-photo-preview
            width: 220px
            height: 220px
            display: inline-block
            vertical-align: middle
            background-position: center
            background-size: cover
            border-radius: 6px

//Font-size
@import "components/font-size.styl"
