html
    font-size: 100%

body
    font-family: "Roboto"
    font-weight: normal
    padding-top: 100px;

a,
button,
input[type=submit],
input[type=button],
select,
.bootstrap-select .dropdown-toggle
    outline: none !important
    &:focus
        outline: none !important

.fa
    width: 20px

//Navigation
.navbar-brand
	img 
		height: 32px

//Font-size
@import "components/font-size.styl"
